{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<center>
<h2>{{user.username}}さんのページ</h2>
<p>ユーザー名 ：{{user.username}}</p>
<p>email    ：{{user.email}}</p>
<form method='post'>
    <div>
    <textarea disabled name="profile" id='profile' rows="10" cols="60" 　 maxlength="390">{{user.profile}}</textarea>>
    </div>
    <button type="submit" disabled  id='sub' class="btn btn-outline-primary">プロフィールを更新する</button>
</form>
    <button type="button" id='sub2' class="btn btn-outline-primary" onclick="update()">プロフィールを修正する</button>
</center>

<style>
h2{
    margin-bottom: 1em;
}
p{
    font-size: 20pt;
}
</style>
<script>
document.getElementById("sub").style.display='none';
function update(){
    document.getElementById("sub2").style.display='none';
    document.getElementById("sub").style.display='block';
    $(profile).prop("disabled", false);
}
$(function() {
    //keyup()でキーを入力するたびに発動
    $('textarea').keyup(function() {
        $(sub).prop("disabled", false);
    });
});

</script>
{% endblock %}
    
