{% extends "layout.html" %}  
{% block content %}  
<div class="pdf_uploads">
    <h2>
        PDFファイルをアップロードしてください。
    </h2>
    <form method = post enctype = multipart/form-data>
    <input type=file name =file>
    <button type="submit">UPLOAD</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
<style>
  .file {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 1em;
    border: 1px solid #dd0000;
    background: #dd0000;
  }

  .pdf_uploads{
    text-align: center;
  }
</style>
{% endblock content %}